<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Proxyscotch</string>
	<key>CFBundleExecutable</key>
	<string>proxyscotch</string>
	<key>CFBundleIconFile</key>
	<string>proxyscotch.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.hoppscotch.proxy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Proxyscotch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$VERSION_NAME</string>
	<key>CFBundleVersion</key>
	<string>$VERSION_NAME</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.0</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License; Hoppscotch.io</string>
	<!-- avoid having a blurry icon and text -->
    <key>NSHighResolutionCapable</key>
    <true/>
	<!-- avoid showing the app on the Dock -->
    <key>LSUIElement</key>
    <string>1</string>
</dict>
</plist>
